 body {
    background-color: rgba(162, 214, 113, 1) !important;
    overflow-y: scroll;
    overflow-x: hidden;
} 

 ul {
    
   list-style-type: none;  
    position: fixed;
    padding-top: 0.375em;
    padding-left:  0.625em;     
}

 ul li {
   display: inline;
   padding: 0em 0.3125em 0em 0.3125em;
   background-color: none !important;
   float: left; 

}

ul li a {
     color: white; 
     text-decoration: underline; 
     text-decoration-color: white;
     background-color: blue !important;
}

#aboutSection {
    position: relative;
    left: 50%;
    top: 10em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#h3AM {
    bottom: .5em;
    position: relative;
    color: white;
}

#h4AM {
    position: relative;
    color: white;
}

#aboutSectionPic {
    position: relative;
    top: 3em;
}

#portfolioSection {
    padding: 1.875em; 
    padding: none;
    text-align: center;
    position: relative;
    top: 24em;
}

#portfolioText {
    position: relative;
    bottom: 1em;
    color: white;

}

.thumbnail {
    background-color: rgba(162, 214, 113, 1) !important;
    border-color: rgba(162, 214, 113, 1) !important;
    height: 30em;
    width: 30em;
}

#firstRow {
    display: inline-block;
}

#secondRow {
    display: inline-block;
}

#thirdRow {
    display: inline-block;
}

#contactSection {
    margin: 0 auto;
    width: 6.25em;
    position: relative;
    top: 12em;
}

#liImg {
    position: relative;
    left: .3em;
}

#gitHubSection {
    margin: 0 auto;
    width: 6.25em;
    position: relative;
    top: 13em;

}

#ghText {
    position: relative;
    left: .3em;
}

#ghImg {
    position: relative;
    left: .4em;
}

#footerDiv {
    position: relative;
    top: 15em;
    text-align: center;

}
