 body {
    background-color: rgba(162, 214, 113, 1) !important;
    overflow-y: scroll;
    overflow-x: hidden;
} 

 ul {
    
   list-style-type: none;  
    position: fixed;
    padding-top: 0.375em;
    padding-left:  0.625em;     
}

 ul li {
   display: inline;
   padding: 0em 0.3125em 0em 0.3125em;
   background-color: none !important;
   float: left; 

}

ul li a {
     color: white; 
     text-decoration: underline; 
     text-decoration-color: white;
     background-color: blue !important;
}

#aboutSection {
    position: absolute;
    left: 50%;
    top: 10em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#h3AM {
    bottom: .5em;
    position: relative;
    color: white;
}

#h4AM {
    position: relative;
    color: white;
}

#aboutSectionPic {
    position: relative;
    top: 3em;
}

#portfolio-section {
    position: relative;
}

#portfolioTop {
    position: absolute;
    left: 50%;
    top: 40em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.thumbnail {
    background-color: rgba(162, 214, 113, 1) !important;
    border-color: rgba(162, 214, 113, 1) !important;


}

#row0 {
    position: absolute;
    left: 50%;
    top: 45em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


#row1 {
    position: absolute;
    left: 50%;
    top: 65em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#row2 {
    position: absolute;
    left: 50%;
    top: 85em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

h6 {
    text-align: center;
    background-color: rgba(162, 214, 113, 1);
    position: relative;
    bottom: .9em;
}

#contactSection {
    position: absolute;
    left: 50%;
    top: 102em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); 
}

#liImg {
    position: absolute;
    margin: 0 auto;
    top: 3em;
    right: 3.2em;
}

#gitHubSection {
    position: absolute;
    left: 50%;
    top: 111em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); 
}

#ghImg {
    position: absolute;
    margin: 0 auto;
    left: .1em;

}

#footerText {
    color: black;
    position: absolute;
    left: 50%;
    width: 60em;
    top: 120em;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

}





