 body {
    background-color: rgba(162, 214, 113, 1) !important;

} 

 ul {
    
   list-style-type: none;  
    position: fixed;
    padding-top: 0.375em;
    padding-left:  0.625em;     
}

 ul li {
   display: inline;
   padding: 0em 0.3125em 0em 0.3125em;
   background-color: none !important;
   float: left; 

}




ul li a {
     color: white; 
     text-decoration: underline; 
     text-decoration-color: white;
     background-color: blue !important;
}


#about-section {
    position: relative;
    padding-top: 31.25em;
    
}

#about-me-text {
    position: relative;
    bottom: 250px;
    color: white;

}


#Portfolio_Pic {
    position: relative;
    top: 1.5em;
    border: .2em solid white;
}

.thumbnail {
    background-color: rgba(162, 214, 113, 1) !important;
    border-color: rgba(162, 214, 113, 1) !important;
}

#i0 {
    position: relative;
    left: 1em;
}

#i1 {
    position: relative;
    right: 1em;
}

#i2 {
    position: relative;
    left: 1em;
}

#i3 {
    position: relative;
    right: 1em;
}

#i4 {
    position: relative;
    left: 1em;
}

#i5 {
    position: relative;
    right: 1em;
}


h6 {
    text-align: center;
    background-color: rgba(162, 214, 113, 1);
    position: relative;
    bottom: 1em;
}

#contact-section {
     position: relative;
     top: 2em;
     
     
}

#cTactText {
    position: relative;
    bottom: 3em;
}

#LI {
    position: relative;
    left: 49.2em;
    bottom: 3em;  
}

#gHubText {
    position: relative;
    bottom: 0.5em;

}

#GH {
    position: relative;
    left: 49.2em;
}


footer {
    position: relative;
    top: 0.5em;
    text-align: center;
    font-weight: bold;

}



