body {
  background-color: gray;
  background-color: #339966;
}

#routerUl {
  list-style-type: none;
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  height: 2em;
  padding-top: 3em;
  top: -3em;
  left: -2em;
}

#routerUl:hover {
  cursor: pointer;
}

ul li {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: black;
  display: inline;
}

a {
  color: white;
}

#aboutSection {
  margin-top: 5em;
  text-align: center;
}

#aboutText {
  position: relative;
  bottom: 26em;  
  color: white;
  opacity: 1;
}

#aboutImg {
  height: 672px;
  width: 1192px;
  opacity: 0.8;
  position: relative;
  margin-top: 1em;
}

#portfolioSection {
  margin-top: 1em;
  position: relative;
  top: 5em;
}

#portfolioTitle {
  text-align: center;
  margin-bottom: 5em;
}

.portfolioSubText {
  text-align: center;
  margin-top: 3em;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0em;
}

.imgDiv {
  text-align: center;
  z-index: 1;
  margin-bottom: 1em;
  margin-top: 1em;
}

.thumbnailImg {
    height: 21em;
    width: 36em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    border: 0.3em solid white;
}

span {
  margin-right: 0.5em;
  margin-left: 0.5em;
  font-size: 0.85em;
  font-weight: bold;
}

.thumbnailText {
    color: black;
    text-decoration: underline;
}

.thumbnailText a {
  color: black;
}

#MessageDiv {
  display: flex;
  flex-direction: column;
}

#contactSection {
  margin-top: 8em;
  text-align: center;
  text-decoration: underline;
}

#contactIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.iconImg {
  height: 60px;
  width: 60px;
}

#LinkedIn_Icon {
  margin-right: 1em;
  position: relative;

}

#gMailIcon {
  margin-left: 1em;
  margin-right: 1em;
}

#mediumIcon {
  margin-left: 1em;

}

#messageDiv {
  margin-top: 3em;
  border: 0.5em solid black;
  width: 25em;
  height: 25em;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#messageDivHeader {
  text-align: center;
  text-decoration: underline;
}

.contactSecAttr {
  margin-left: 1em;
  outline: none !important;
  background-color: white;
  border: 4px solid black;
}

.labels {
  margin-bottom: -1em;
}

#nameLabel {
  position: relative;
  margin-left: 1em;
  margin-top: 3em;
}

#contactName {
  height: 2em;
  width: 20em;
}

#emailLabel {
  margin-left: 1em;
}

#contactEmail {
  height: 2em;
  width: 20em;
}

#messageLabel {
  margin-left: 1em;
}

#contactMessage {
  height: 6em;
  width: 23em;
}

#submitButton {
  border: 4px solid black;
}

#submitButton:active {
  background-color: #339966;
  color: black;
  box-shadow: none;
  transform: translateY(.3em);
}

#submitButton:hover {
  cursor: pointer;
}

#footer {
  text-align: center;
  margin-top: 3em;
}